    <div class='col-md-12'>
      <div class="carousel slide media-carousel slide_edit center" id="media" data-pause="true">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">

              <%= render partial: "shared/group", collection: @categories.limit(12) %>                  
            <%# collection_check_boxes(nil,:topic_ids, Category.all.limit(10).to_a, :id, :name) do |b|
                b.label(class: "label_box",style:"background: url(
            #{Category.find(b.value).image_url});"){ b.check_box(class: "hide") + b.text}
                        end %>                          
            </div>
          </div>

          <div class="item">
            <div class="row">
            <%= render partial: "shared/group", collection: @categories.offset(12) %>
            <%# collection_check_boxes(nil,:event_type_ids, Category.all.offset(12).to_a, :id, :name) do |b|
                b.label(class: "label_box",style:"background: url(
            #{Category.find(b.value).image_url}) ;"){ b.check_box(class: "hide") + b.text}
                        end %>    <%# render partial: "box", collection: @categories.offset(12) %>        
            </div>
          </div>
          <div class="item">
            <div class="row">
             <%= render partial: "shared/group", collection: @domains.limit(12) %>
              <%# collection_check_boxes(nil,:domain_ids, Domain.all.limit(12).to_a, :id, :name) do |b|
                  b.label(class: "label_box",style:"background: url(
            #{Domain.find(b.value).image_url}) ;"){ b.check_box(class: "hide") + b.text}
                        end %>  
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
