<div class="container">
	<div class="row">

    	<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-thumbs-o-up"></i></div>
					<div class="info">
						<h3 class="title">Event Organizers</h3>
						<p>
						  You can create event pages for any event in no time. It's free and supereasy. 
						</p>
						<div>
						<a class="btn btn-primary btn-md" href="<%=new_event_path%>">Create an Event</a>
							
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
     <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-flag"></i></div>
					<div class="info">
						<h3 class="title">Participate, debate, discuss and share actively</h3>
    					<p>
							Earn BeeScores through active discussions, polls, surveys, feedbacks, suggestions etc. Redeem scores to unlock discount vouchers.  
						</p>
						<div class="more">
							<a href="#" title="Title Link">
								Read more <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-users"></i></div>
					<div class="info">
						<h3 class="title">Build networks inside your campuses</h3>
    					<p>
							Create groups inside your campuses. Build activity. 
						</p>
						<div class="more">
							<a href="#" title="Title Link">
								Read More <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
		
	</div>
</div>

  <div class="featurette" id="sec2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Amazing Features</h1>
        </div>
      </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <i class="fa fa-bell"></i>
          <h4>Alerts</h4>
          <p>Stay In Sync</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="fa fa-star"></i>
          <h4>Events</h4>
          <p>Access Everywhere</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="fa fa-users"></i>
          <h4>Network Groups</h4>
          <p>Follow other users/organisers. Create/Join groups. Have fun!</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="fa fa-pencil"></i>
          <h4>Maximize Visibility</h4>
          <p>Set up your interests. Get notified about latest events as per your preferences.</p>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="container">
  <%# render partial: "static_pages/group_slider" %><br>
  <%# render partial: "shared/group", collection: @campus_groups%>   
</div>