<div class="col-md-1">
<a href="<%=campus_group_path(campus_id: @campus.id, id: group_listing.id)%>">
<label class ="label_box" style="background: url(http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg)"><span><%=group_listing.name%></span>
</label>
</a>
</div>