
<div class="col-lg-2">
<a href="<%=refresh_path(topic_ids: group.id)%>">
<label class ="label_box" style="background: url(<%=group.image_url if group.image_url%>)"><span><%=group.name%></span>
</label>
</a>
</div>
