<div class="col-md-6">
<a href="<%=campus_group_path(campus_id: @campus.id, id: group_listing.id)%>">
<label class ="label_box" style="background: url()"><span><%=group_listing.name%></span>
</label>
</a>
</div>