<div class="col-xs-6 col-sm-6 col-lg-2">
<a href="<%=refresh_path(topic_ids: group.id)%>">
<div class="featurette-item white">
		<div class="adjust"><%=group.name%></div>
          <i class="fa <%=group.image_url%>"></i>
     

        </div>

</a>
</div>
