 <div class="col-lg-4"> 
     <div class="thumbnail">
        <a href="<%=campus_path(id: campus.id )%>">
        <%= image_tag campus.avatar.url, size: "300x200"%>
        </a>
        <%# image_tag 'logo1.png', size: "300x200"%>
      </div>
 </div>